<!DOCTYPE html>
{% extends 'base.html'  %}

{% block content  %}
        

{% if category_posts %}

<h1>{{ cats }} Categories</h1>

<ul>
{% for post in category_posts  %}

  <li> <a href="{% url 'article-detail' post.pk  %}">{{ post.title }}</a>
  
   {{ post.author.first_name }} 
   {{ post.author.last_name }} 
   {{post.post_date}}  <small>
     {% if user.is_authenticated   %}

   - <a href="{% url 'update_post' post.pk  %}">(Edit Post)</a>
    
    <a href="{% url 'delete_post' post.pk  %}">(delete)</a>
    {% endif %}

   </small> <br/>
 {{ post.body | slice:":200"| safe }}</li>

{% endfor  %}
</ul>
{% else  %}
<h2>  sorry this page does not exsit... </h2>
{% endif %}

{% endblock %}