<!DOCTYPE html>
{% extends 'base.html'  %}
{% block title  %}delete Blog Post{% endblock %}

{% block content  %}
{% if user.is_authenticated   %}
       {% if user.id == post.author.id %}
<h1>Delete Posts</h1>
<br><br/>

<h3>Delete: {{post.title }}</h3>
<br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>AreYou Sure?!</strong><br><br>
        <button class="btn btn-secondary">Delete Post!</button>
</form>
</div>
       {% else %}
       your not allowed
       {% endif  %}
{% else %}

You're not allowed here 
{% endif %}

{% endblock %}